body{
    min-height: 100%;
    margin-bottom: -100px;
    }



#container{
    width: 990px;
    margin: 10px auto;
    min-height: 100%;
    
}
.body:after{
    content: "";
    display: block;
}
.body:after, footer{
    height: 100px;
}
header{
    background-color: white;
    min-height: 80px;
    width: 960px;
    margin-bottom: 40px;
}
#main{
    background-color: yellow;
    min-height: 100%;
    width: 960px;
    overflow: hidden;
}
#column1{
    background-color:blue;
    min-height: 50px;
    width: 650px;
    float: left;
}
#sidebar{
    background-color: purple;
    min-height: 50px;
    width: 270px;
    float: right; 
}
footer{
    background-color: green;
    min-height: 60px;
    padding: 1px;
    /* grid-row-start: 2;
    grid-row-end: 3;
    background-color: teal;
    width: 100%;
    text-align: center; */
}
/*controls the text Copyright in footer*/
footer>p{
    text-align: center;
}
#footerline{
    min-height: 10px;
    min-width: 100%;
    background-color: orange;
    margin-top: -10px;
}
/* controls the H1 name plate*/
#hdh1{
    width: 236px;
    height: 40px;
    background-color: white;
    margin-top: 40px;
}
/* controls the about, portfolio, contact area */
#contacthead{
    float: right;
    background-color: white;
    width: 270px;
    height: 80px;
    margin-top: 60px;
}

.flort{
    float: right;
}
.flolft{
    float: left;
}

li{
    display: inline-block;
}